# Session Analytics Demo


## Generation of Metrics

We first identify the metrics that we are interested in tracking. The most interesting metrics are:
* "NoQ" - Number of Questions attempted by user / global average in session / subject / chapter
* "Att" - What percentage of questions seen have been attempted
* "Acc" - What percentage of the questions 
* "Time" - Time taken per question
* "KSC" - What percentage of seen questions was the KSC viewed.
* "Soln" - What percentage of seen questions was the full solution viewed.
* "Att2" - What percentage of the incorrectly answered questions were tried again.
* "Acc2" - What percentage of the incorrectly answered questions were correctly answered in the second try.
* "Revw" - What percentage of the total questions were marked for review.

We are interested in reporting session metrics for students. To proceed with the analysis we do a top down approach. The hierarchy is
* Course
    * Subject:   
        * Topic:
            * Chapter:
                * KSC:
                
A session includes one or more chapters from the same subject. So we are interested in finding one or more chapte
To hold the data we propose two classes
* Global: Responsible for storing global metrics for subject, chapter and pseudosession.
* User: Responsible for storing user metrics for subject, chappter and session.

## User Feedback

After the generation of metrics, we want to produce user feedback. The way to go about that is by calculating z-scores of student vs student (previous) and student vs global metrics.

By using predefined z-score metrics we can provide approrpiate metrics as and when needed.

In [4]:
if "Imports":
    import sys
    import os
    import json
    sys.path.append(os.getcwd() + "\..\src")
    from user import User
    from institute import Institute
    from session import Session
    from subject import Subject
    from chapter import Chapter
    from util import *
    from db_util import DBConnection
    from IPython.display import display
    %load_ext autoreload
    %autoreload 2
cnxnObj = DBConnection()
cnxn = cnxnObj.connection
cnxnObj.sample_query()

Microsoft SQL Server 2016 (SP1-CU15-GDR) (KB4505221) - 13.0.4604.0 (X64)
	Jun 15 2019 07:56:34
	Copyright (c) Microsoft Corporation
	Developer Edition (64-bit) on Windows Server 2016 Datacenter 10.0 <X64> (Build 14393: ) (Hypervisor)

In [10]:
with open("../config.json","r") as file:
    config = json.load(file)
student = User(107634,cnxn, config,0)
institute = Institute(0,cnxn,config)

In [11]:
# Get User Session Data
student.get_sessions(top = 1)
display(student.sessionData)

# Get Pseudo Session Data
sessionId = int(student.sessionData.index[0])
institute.get_sessions(sessionId)
display(institute.sessionData)

# Get User Session Metrics
student.gen_session_metrics(sessionId)
display(student.sessions.loc[sessionId].metrics)

# Get Pseudo Session Metrics
institute.gen_session_metrics(sessionId)
display(institute.sessions.loc[sessionId].metrics)

# Compare User and Pseudo Sessions
student.get_Zscore(sessionId,"userSession vs pseudoSession", student.sessions.loc[sessionId].metrics, institute.sessions.loc[sessionId].metrics)
display(student.ZScores)

,CourseId,SubjectId,EndedOn,_TotalQuestions,_TotalAttempted,_TotalCorrect,_TotalTimeTaken
UserTestSessionId,,,,,,,
729884,10,4,2021-11-08 00:21:43.863,13,11,5,252

,UserId,CourseId,SubjectId,EndedOn,_TotalQuestions
UserTestSessionId,,,,,
729884,107634,10,4,2021-11-08 00:21:43.863,13

NoQ      13.000000
Att      84.615385
Acc      38.461538
TTim    213.000000
ATim     16.384615
KSC       0.000000
Soln      0.000000
Att2     62.500000
Acc2     25.000000
Revw      0.000000
dtype: float64

,NoQ,Att,Acc,TTim,ATim,KSC,Soln,Att2,Acc2,Revw
Avg,13,91.503422,64.054756,435.389135,19.508379,0.0,0.0,62.889832,39.239296,0.0
Std,0,4.198244,18.944533,242.754637,10.352894,0.0,0.0,12.379387,13.568348,0.0

,,NoQ,Att,Acc,TTim,ATim,KSC,Soln,Att2,Acc2,Revw
SessionId,Type,,,,,,,,,,
729884,userSession vs pseudoSession,NaN,-1.640695,-1.350955,-0.916107,-0.301728,NaN,NaN,-0.03149,-1.049449,NaN

In [ ]:
# Get User Chapter Data

# Get Global Chapter Data

# Get User Chapter Metrics

# Get Global Chapter Metrics

# Compare User and Global Chaper metrics

In [ ]:
# Get User Subject Data

# Get Global Subject Data

# Get User Subject Metrics

# Get Global Subject Metrics

# Compare User and Global Subject metrics